<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Marcellus SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
    <link rel="stylesheet" href="/book.css">
</head>

<body>
    <!-- <button type="button" class="btn btn-primary" onclick="openModal()">
        Launch demo modal
    </button> -->
    <div class="bookModalParent" id="bookModalParent">
        <div class="modal-header">
            <!-- <button class="nextPageBtn"> <i class="fas fa-arrow-right"></i> </button> -->
            <div class="row no-gutters w-100">
                <div class="col-11 text-center">
                    <h2 class="pt-1 mb-0" style="margin-left: 7rem;"><%= book.name%></h2>
                </div>
                <div class="col-1">
                    <form action="/Home" method="GET">
                        <button class="btn closeModalBtn">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <% for(i=0;i<=book.chapter.length-1;i++){ %>
            <div class="row no-gutters justify-content-center chapterTitle" style="padding: 0 15rem;">
                <%= book.chapter[i].chapterName %>
            </div>
            <p class="storyPart">
                <%= book.chapter[i].story %>
            </p>
            <% } %>
        </div>
        <!-- <div class="modal-footer justify-content-center pb-0">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% for(i=1;i<=book.chapter.length;i++){ %>
                    <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
                    <% } %>
                </ul>
            </nav>
        </div> -->
    </div>
</body>
<!-- <script src="/readBook.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>